################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CIS
/Sandbox
/CIS
/CIS
/FPS
/FPS_08092019
/FPS_09042019
/FPS_old
/parameter.json
/template.json
