<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=terraformtfdemopra11;AccountKey=URWVD0r4StG+Clr68LThz3Yxbx/03w6nwOdoBM9vqEn/17/Xlc+m/PYEb1psMTK5MYfvlkGW4fbI3OkmI+sN0g==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>